$background-color: #0e002a;
$primary-color: #ffffff;
$secondary-color: #eb57df;
$secondary-dark-color: #a8359f;
$dark-color: #080019;
$light-grey-color: #aeaeae;

$shift-color-1: #ca57eb;
$shift-color-2: #9c57eb;
$shift-color-3: #7957eb;

$red: #fb1752;
$green: #3ff7c3;
