$background-color: #0e0029;
$primary-color: #f1ebff;
$secondary-color: #eb56df;
$secondary-dark-color: #a7359d;
$dark-color: #08001a;
$light-grey-color: #adadad;
$note-color: #7956eb;

$shift-color-1: #cb56eb;
$shift-color-2: #9c56eb;
$shift-color-3: #7956eb;

$red: #fb1855;
$green: #40f7c3;
